body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
h1 {
    color: #333;
    font-size: 46px;
    text-align: center;
}
p {
    color: #333;
    font-size: 36px;
    text-align: center;
}
span {
    color: aqua;
}